<!DOCTYPE html>
<html>
<head>
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Color Picker</title>
	<link rel="stylesheet" type="text/css" href="/colorpicker.css">
</head>
<body>
	<h1>The Great 
		<br>
		<span id="colordisplay">RGB</span> 
		<br>color Game
	</h1>
 
    <div id="stripe">
       <button id="reset">new colors</button>
       <span id="message"></span>
       <button id="easyBtn">E</button>
       <button  id="hardBtn" class="selected">H</button>
    </div>

	<div id="container">
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		
	</div>
	
	<div>
		<a class="instruct" href="/">go to instruction</a>
	</div>	

	
	
<script type="text/javascript" src="/colorpicker.js"></script>
</body>
</html>