<!DOCTYPE html>
<html>
<head>
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Color Picker</title>
	<link rel="stylesheet" type="text/css" href="/colorpicker.css">
</head>
<body>
      
	     <h1>
	     Instructions
         </h1>
	<div class="instruction">
		
	
	     <p>
			 This RGB game is a color picker game, 
	     </p>
	<p>
		<strong>how to play -</strong>
		the game give you a color code in rgb form (e.g. rgb(123,45,63)), you have to find out the reslutant color when that           rgb color is mixed.
		for e.g the what color forms when red(123) blue(45) and green(63) are mixed in their respective amount.
		
		you just have to choose the correct color
	</p>
	<ul>
		<li>r means red color</li>
		<li>g means green color</li>
		<li>b means blue color</li>
		<li>E means easy mode</li>
		<li>H means hard mode</li>
	</ul>
	 
		 <a class="instruct" href="/game">let's get started</a>
	   
	
	</div>	
	
</body>
	
</html>
